@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'poppins', sans-serif;
}
/* ----------------------------------------------header design--------------------------------------------------------- */
.logo{
    width: 238.89px;
    cursor: pointer;
}
.header{
    background: #6B3CC9;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    font-weight: 600;;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 4rem;
    transition: 0.3s ease;
}
.nav a:hover{
    color: #000000;
}
#menu-icon{
    font-size: 3.6rem;
    color: white;
    
}
/* -----------------------------------------------------------------home design----------------------------------------------------------------- */
.form{
    background-image: linear-gradient(to right , #4DCA79 , #1CBDDD);
    position: absolute;
    width: 630px;
    height: 306px;
    top: 354px;
    left: 80px;
    padding: 24px, 40px, 32px, 40px;
    gap: 20px;
}
.form h1{
    color: white;
    margin: 20px 0 0 20px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}
.form .home-button{
    background-color: #F28D35;
    border: none;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 4px;
    gap: 8px;
    width: 214px;
    height: 38px;
    margin-left: 20px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}
.home{
    background: url(img/home.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
/* ---------------------------------------------------------------------information card design--------------------------------------------------------------------- */
.card.mb-3{
    border:none;
    margin: auto;
}
#information{
    margin: 50px;
}
h5.card-title{
    color: #6B3CC9;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    font-family: 'Poppins';
    margin-top: 60px;
}
p.card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
}
.col-md-8{
    width:542px;
    height: 187px;
    gap: 20px;
}
.button .btn{
    font-size: 14px;
    font-weight: 700;
    background-color: #F28D35;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 4px;
    width: 129px;
    height: 38px;
    color: white;
}
.button .btn:hover{
    background-color: #F28D35;
    color: white;
}
.info{
    margin-top: 50px;
}
/* --------------------------------------------------------------------FAQ design-------------------------------------------------------------------- */
.faq-section{
    min-height: 50vh;
    width: 896px;
    height: 392px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.title{
    font-size: 3rem;
}
.faq{
    
    width: 896px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    cursor: pointer;
    background-color: #FAF8FF;
    padding: 24px;
    gap: 13px;
    border-radius: 7px;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}
.faq.active .question{
    color: #6B3CC9;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.faq.active .answer{
    max-height: 300px;
    animation: fade 0.2s ease-in-out;
}
.faq-minus{
    display: none;
}
.faq-plus{
    float: right;
    font-size: 25px;
    margin-left: 110px;
}
.faq.active span{
    transform: rotate(45deg)
}
span{
    transition: transform 0.2s ease-in;
}
h2.title{
    color: #6B3CC9;
    font-size: 27px;
    font-weight: 600;
}
.question h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}
.answer p{
    font-size: 17px;
    font-weight: 400;
    width: 798px;
}

/* -----------------------------------------------------------------footer design------------------------------------------------------------- */
footer{
    margin-top: 100px;
}
.row .mb-3{
    width: 238.89px;
}
.ft-p{
    color: white;
}
.footer-container{
    margin-left: 150px ;
    padding: 3rem 0rem 0rem 3rem;
    background-color: #6B3CC9;
}
ul li a{
    text-decoration: none;
    gap: 12px;
    line-height: 30px;
    font-family:  sans-serif;
    font-size: 14px;
}
.p-3{
    border-top: 2px solid rgb(255, 255, 255);
    font-size: 14px;
    color: white;
    line-height: 15px;
    font-family:  sans-serif;
    width: 50%;
    text-align: center;
    align-items: center;
    margin: auto;
}


/* breakpoint */
@media (max-width: 1200px) {
    html {
        font-size:55% ;
    }
}
@media (max-width: 768px){
    .form{
    position: absolute;
    width: 768px;
    height: 258px;
    top: 525px;
    left: auto;
    padding: 24px, 40px, 32px, 40px;
    gap: 20px;
    }
    .nav a{
        display: none;
    }
    .header i{
        margin-left: 450px;
    }
    .home{
    width: 768px;
    height: 448px;
    }
    .form h1{
        color: white;
        margin: 20px 0 0 20px;
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
        letter-spacing: -2px;
        width: 688px;
        height: 144px;
    }
    .card.mb-3{
        border:none;
        margin: auto;
        width: 688px;
        height: 275px;
    }
    .row img{
    margin-top: 50px;
    }
    .faq-section{
        min-height: 75vh;
        width: 896px;
        height: 392px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
       margin-left: -65px;
    }
    .faq{
        width: 686px;
        margin-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid white;
        cursor: pointer;
        background-color: #FAF8FF;
        padding: 24px;
        gap: 13px;
        border-radius: 7px;
    }
    .faq-plus{
    float: right;
    font-size: 25px;
    margin-top: -28px;
    }
    .answer p{
        width: 650px;
    }
    .footer-container{
        margin-left: 150px ;
        padding: 1rem 0 0 1rem;
    }
}

@media (max-width: 320px){
    .header{
        width: 375px;
        height: 77px;
        
    }
    .nav a{
        display: none;
    }
    #menu-icon{
        font-size: 3.6rem;
        color: rgb(250, 250, 250);
        margin-left: 60px;
    }
    .home{
        width: 375px;
        height: 208px;
        min-height: 208px;
        top: 77px;
    }
    .form{
        position: absolute;
        width: 375px;
        height: 294px;
        top: 285px;
        left: auto;
        padding: 24px, 20px, 32px, 20px;
        gap: 20px;
    }
    .form h1{
        font-size: 36px;
        line-height: 36px;
        width: 335px;
        height: 180px;
    }
    .card.mb-3{
        margin-top: -300px;
        border:none;
        margin-left: -25px;
        width: 335px;
        height: 572px;
        top: 649px;
    }
    h5.card-title ,p.card-text{
        text-align: center;
    }
    .info{
        margin-top: 450px;
    }
    .row img.rounded-start-2{
        margin-top: -150px;
    }
    #card-title{
        margin-top: 400px;
    }
    .button .btn{
        margin-left: 90px;
        align-content: center;
    }
    h2.title{
        margin-top: 800px;
        margin-left: 100px;
    }
    .faq-section{
        width: 300px;
        height: 769px;
       margin: auto;
    }
    .faq{
        width: 300px;
        font-size: 20px;
        font-weight: 500;
        margin-right: -50px;
    }
    h2.title{
        text-align: center;
    }
    .faq-plus{
        float: right;
        font-size: 25px;
        margin-top: -60px;
        margin-left: 100px;
        font-weight: 600;
    }
    .answer p{
        width: 334px;
    }
    footer{
        margin-top: 780px;
        width: 375px;
    }
    .footer-container{
        margin-left: 20px ;
        padding: 1rem 0 0 1rem;
    }
    .p-3{
        width: 100%;
        
    }
    
}

@media (max-width: 375px){
    .header{
        width: 375px;
        height: 77px;
        
    }
    .nav a{
        display: none;
    }
    .header i{
        margin-right: -50px;
    }
    #menu-icon{
        font-size: 3.6rem;
        color: rgb(250, 250, 250);
        margin-left: 60px;
    }
    .home{
        width: 375px;
        height: 208px;
        min-height: 208px;
        top: 77px;
    }
    .form{
        position: absolute;
        width: 375px;
        height: 294px;
        top: 285px;
        left: auto;
        padding: 24px, 20px, 32px, 20px;
        gap: 20px;
    }
    .form h1{
        font-size: 36px;
        line-height: 36px;
        width: 335px;
        height: 180px;
    }
    .card.mb-3{
        margin-top: -300px;
        border:none;
        margin-left: -25px;
        width: 335px;
        height: 572px;
        top: 649px;
    }
    h5.card-title ,p.card-text{
        text-align: center;
    }
    .info{
        margin-top: 450px;
    }
    .row img.rounded-start-2{
        margin-top: -150px;
    }
    #card-title{
        margin-top: 400px;
    }
    .button .btn{
        margin-left: 90px;
        align-content: center;
    }
    h2.title{
        margin-top: 800px;
        margin-left: 100px;
    }
    .faq-section{
        width: 334px;
        height: 769px;
       margin: auto;
    }
    .faq{
        width: 334px;
        font-size: 20px;
        font-weight: 500;
        margin-left: 50px;
    }
    h2.title{
        text-align: center;
    }
    .faq-plus{
        float: right;
        font-size: 25px;
        margin-top: -60px;
        margin-left: 100px;
        font-weight: 600;
    }
    .answer p{
        width: 334px;
    }
    footer{
        margin-top: 780px;
        width: 375px;
    }
    .footer-container{
        margin-left: 20px ;
        padding: 1rem 0 0 1rem;
    }
    .p-3{
        width: 100%;
        
    }
    
}

@media (max-width: 425px){
    .header{
        width: 375px;
        height: 77px;
        
    }
    .nav a{
        display: none;
    }
    #menu-icon{
        font-size: 3.6rem;
        color: rgb(250, 250, 250);
        margin-left: 60px;
    }
    .home{
        width: 375px;
        height: 208px;
        min-height: 208px;
        top: 77px;
    }
    .form{
        position: absolute;
        width: 375px;
        height: 294px;
        top: 285px;
        left: auto;
        padding: 24px, 20px, 32px, 20px;
        gap: 20px;
    }
    .form h1{
        font-size: 36px;
        line-height: 36px;
        width: 335px;
        height: 180px;
    }
    .card.mb-3{
        margin-top: -300px;
        border:none;
        margin-left: -25px;
        width: 335px;
        height: 572px;
        top: 649px;
    }
    h5.card-title ,p.card-text{
        text-align: center;
    }
    .info{
        margin-top: 450px;
    }
    .row img.rounded-start-2{
        margin-top: -150px;
    }
    #card-title{
        margin-top: 400px;
    }
    .button .btn{
        margin-left: 90px;
        align-content: center;
    }
    h2.title{
        margin-top: 800px;
    }
    .faq-section{
        width: 334px;
        height: 769px;
       margin: auto;
    }
    .faq{
        width: 334px;
        font-size: 20px;
        font-weight: 500;
    }
    h2.title{
        text-align: center;
    }
    .faq-plus{
        float: right;
        font-size: 25px;
        margin-top: -60px;
        margin-left: 100px;
        font-weight: 600;
    }
    .answer p{
        width: 334px;
    }
    footer{
        margin-top: 780px;
        width: 375px;
    }
    .footer-container{
        margin-left: 20px ;
        padding: 1rem 0 0 1rem;
    }
    .p-3{
        width: 100%;
        
    }
    
}
@media (max-width: 500px){
    .header{
        width: 425px;
        height: 77px;
        
    }
    .nav a{
        display: none;
    }
    #menu-icon{
        font-size: 3.6rem;
        color: rgb(250, 250, 250);
        margin-left: 60px;
    }
    .home{
        width: 425px;
        height: 208px;
        min-height: 208px;
        top: 77px;
    }
    .form{
        position: absolute;
        width: 425px;
        height: 294px;
        top: 285px;
        left: auto;
        padding: 24px, 20px, 32px, 20px;
        gap: 20px;
    }
    .form h1{
        font-size: 34px;
        line-height: 36px;
        width: 410px;
        height: 180px;
    }
    .card.mb-3{
        margin-top: -300px;
        border:none;
        margin-left: -25px;
        width: 410px;
        height: 572px;
        top: 649px;
    }
    h5.card-title ,p.card-text{
        text-align: center;
    }
    .info{
        margin-top: 500px;
    }
    .row img.rounded-start-2{
        margin-top: -200px;
    }
    .button .btn{
        margin-left: 130px;
        align-content: center;
    }
    h2.title{
        margin-top: 800px;
    }
    .faq-section{
        width: 334px;
        height: 769px;
       margin: auto;
    }
    .faq{
        width: 400px;
        font-size: 20px;
        font-weight: 500;
    }
    h2.title{
        text-align: center;
    }
    .faq-plus{
        float: right;
        font-size: 25px;
        margin-top: -60px;
        margin-left: 100px;
        font-weight: 600;
    }
    footer{
        margin-top: 780px;
        width: 425px;
    }
    .footer-container{
        margin-left: 20px ;
        padding: 1rem 0 0 1rem;
    }
    .p-3{
        width: 100%;
        
    }
    
}